/* Global Styles */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #fdf7ef; */
}

header {
    width: 100%;
    background-color: #fff7ee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4%;
}

.navbar img{
    height: 18px;
    /* width: inherit; */
}
.navbar .arrow{
    height: 7px;
}

.logo a {
    font-size: 35px;
    font-weight: bold;
    color: #E9811F;
    letter-spacing: 2px;
    text-decoration: none;
}

.logo span {
    color: #4D2C19;
}

.logo span div{
    font-size: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRHS{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #464646;
}

.nav-links li a:hover {
    color: #e58e26;
}

/* Action Buttons */
.nav-actions {
    display: flex;
    align-items: center;
}

.nav-actions div a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px 16px;
}
.nav-actions div a img{
    margin: 0 5px;
}

.book-appointment {
    background-color: #e58e26;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.book-appointment:hover {
    background-color: #cf7c1a;
}

.help {
    position: relative;
}

.help a {
    border: 2px solid #FBBE9C;
    text-decoration: none;
    color: #6d6d6d;
}

.help:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: #6d6d6d;
    padding: 10px;
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: #e58e26;
    color: white;
}
