.sec7 {
    font-family: Arial, sans-serif;
    margin: 50px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    flex-direction: column;
    /* background-color: #f4f4f4; */
}

.sec7 .btn-carousel-container {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* padding: 20px; */
    height: max-content;
}

.sec7 .btn-carousel {
    transition: transform 0.5s ease-in-out;
    height: max-content;
    display: flex;
    gap: 20px;
}

.sec7 .btn-carousel-container::-webkit-scrollbar {
    display: none;
}

.sec7 .btn-carousel-slide {
    width: 60vw;
    height: max-content;
    /* height: 300px; */
    /* background-color: #333; */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    flex: none;
    /* scroll-snap-align: start; */
}

.sec7 .carousal-btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.sec7 .carousel-btn {
    position: relative;
    border-radius: 50%;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    border: none;
    color: white;
    height: 30px;
    /* font-size: 20px; */
    margin: 10px;
    cursor: pointer;
    z-index: 10;
    left: -50px;
}

/* .sec7 .left-btn {
    left: 10px;
}

.sec7 .right-btn {
    right: 10px;
} */




.sec7 .btn-carousel-slide{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-color: #f4f4f4; */
}

.sec7 .btn-carousel-slide .container {
    position: relative;
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sec7 .btn-carousel-slide .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec7 .btn-carousel-slide .overlay {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    padding: 20px;
    height: max-content;
    border-radius: 15px;
    max-width: 320px;
}
.sec7 .btn-carousel-slide .overlay.first{
    background: #112230;
}
.sec7 .btn-carousel-slide .overlay.second{
    background: #36261D;
}
.sec7 .btn-carousel-slide .overlay.third{
    background: #433943;
}
.sec7 .btn-carousel-slide .overlay h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.sec7 .btn-carousel-slide .overlay h2 .highlight {
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
}

.sec7 .btn-carousel-slide .overlay p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.sec7 .btn-carousel-slide .learn-more {
    display: inline-block;
    padding: 10px 0px;
    color: #EA7D28; /* Orange */
    /* color: white; */
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
}

.sec7 .btn-carousel-slide .learn-more .icon {
    margin-left: 8px;
    height: 18px;
    display: inline-block;
}
.sec7 .btn-carousel-slide .learn-more .icon img{
    height: 100%;
}